<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Newsapp</title>
</head>

<body>
    <div class="title-div">
        <a href="/">
            <h1>NewsApp</h1>
        </a>
    </div>
    <nav class="navbar">

    </nav>
    <nav class="navbar-main">
        <ul class="navbar-ul">
            <li>
                <a class="navbar-item" href="/">Home </a> </li>

            <li>
                <a class="navbar-item" href="/Contact">Contact US </a> </li>
            <li>
                <a class="navbar-item" href="/About">About </a> </li>
        </ul>
    </nav>