<%-include("partials/header");-%>
    <div class="contactUS article-card" style="width: 70vw; padding: 50px">
        <div class="heading-contact">About US</div>
        <div style="flex-direction:column ;padding: 10px; text-align: center;">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dicta at praesentium eaque ullam quisquam fugiat placeat deleniti nesciunt modi quidem laudantium beatae, repellat aliquam expedita inventore eleniti nesciunt modi quidem laudantium
                beatae, repellat aliquam expedita inventore nulla. Volup nulla. Voluptatum, ipsum?</p>
            <h2>Lorem, ipsum dolor sit amet cons aliquid sed animi iure facilis blanditiis excepturi et? Minima eos vitae dolor? </h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dicta at praesentium eaque ullam quisquam fugiat placeat eleniti nesciunt modi quidem laudantium beatae, repellat aliquam expedita inventore nulla. Volup deleniti nesciunt modi
                quidem laudantium beatae, repellat aliquam expedita inventore nulla. Voluptatum, ipsum?</p>

        </div>

    </div>

    <%-include("partials/footer");-%>