<%-include("partials/header");-%>
    <div class="contactUS article-card" style="width: 70vw; padding: 50px">
        <div class="heading-contact">Contact US</div>
        <div style="flex-direction:column">
            <p class="heading-contact" style="font-size: 40px; color: rgb(251, 66, 66);padding: 30px;; ">
                Thank You! We will contact you shortly…
            </p>
            <input style="padding: 10px;" type=" email " name="contactEmail " id=" " placeholder="Enter your Email Id......... " />
            <button type="submit " style="margin: 30px;">Submit</button>
        </div>
    </div>

    <%-include("partials/footer");-%>